<div class="modal fade" id="modalCreateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create a new workshop</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="lastname" class="form-control validate" name="lastName">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Date</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="lastname" class="form-control validate" name="lastName">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Room</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="lastname" class="form-control validate" name="lastName">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Subject</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="lastname" class="form-control validate" name="lastName">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Summary</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="lastname" class="form-control validate" name="lastName">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Teacher</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="lastname" class="form-control validate" name="lastName">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Max Students</label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Create</button>
            </div>
        </div>
    </div>
</div>
