	{% extends "layout.html" %}
	{% block content %}
	<div class="container">
		<!--Carousel Wrapper-->
		<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
			<!--Controls-->
			<div class="controls">
				<a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
				<a class="btn-floating" href="#multi-item-example" data-slide="next">
					<i class="fas fa-chevron-right"></i>
				</a>
			</div>
			<!--/.Controls-->
			<!--Slides-->
			<div class="carousel-inner" role="listbox">

				<!--First slide-->
				<div class="carousel-item active">
					<div class="row">
			{% for data in datas %}
			<div class="col-md-4">
				<div class="card" style="height:23rem; max-width: 20rem">
					<div class="card-body ">
						<h5 class="font-weight-bold mb-3">{{data.subject}}</h5>
						<p class="mb-0">{{data.summary}} {{data.id}}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Date: {{data.date}}</li>
						<li class="list-group-item">Room: {{data.room}}</li>
						<li class="list-group-item">Teacher: {{data.teachers}}</li>
						<li class="list-group-item">Enrolled Students: {{data.enrolled}}/{{data.maxStudents}}</li>
					</ul>
					<div class="card-body">
						{% if role == "1" or role == "2" %}
						<a href="#!" class="card-link,">Edit</a>
						{% endif %}
						<a href="/enroll?workshopId={{data.id}}" class="card-link">Enroll</a>
					</div>
				</div>
			</div>
			{% if loop.index is divisibleby 3 and not loop.last %}
					</div>
				</div>0
				<div class="carousel-item">
					<div class="row">
			{% endif %}
			{% if loop.last %}
				{% if role == "1" or role == "2" %}
					<div class="col-mD-4">
						<div class="card card-block d-flex" style="height:23rem; max-width: 20rem">
							<div class="card-body align-items-center d-flex justify-content-center">
								<a href="" data-toggle="modal" data-target="#modalCreateForm"><i class="fas fa-plus-circle fa-5x"></i></a>
							</div>
					</div>
				{% endif %}
			{% endif %}
			{% endfor %}
		</div><!--/.Slides-->
{% include 'create.html' %}
		<!--/.Carousel Wrapper-->
	</div>
		{% endblock %}